<div class="search-filters">
    <h4 class="blue lighter">
        <i class="icon-signal"></i>
        @SharedRes.SharedStrings.FILTER_STR
    </h4>
    <div>
        <div>
            <label>@MealRes.MealStrings.PROTEIN</label>
            <div class="row">
                <input class="input-mini" value="0" />
                <span>-</span>
                <input class="input-mini" value="100" />
            </div>
            <label>@MealRes.MealStrings.FAT</label>
            <div class="row">
                <input class="input-mini" value="0" />
                <span>-</span>
                <input class="input-mini" value="100" />
            </div>
            <label>@MealRes.MealStrings.CARBOHYDRATE</label>
            <div class="row">
                <input class="input-mini" value="0" />
                <span>-</span>
                <input class="input-mini" value="100" />
            </div>
        </div>
    </div>
</div>
