<progressbar type="success" value="(Internal.currentValue * 100 / Internal.maxValue)" max="100">
    <span data-ng-show="Internal.currentValue>0 && Internal.descriptionShow">
        {{Internal.currentValue}} kg / {{Internal.maxValue}} kg
    </span>
</progressbar>