<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://fitotrack.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>fitotrack.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>fitotrack</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$fitotrack</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="FitotrackConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:m5mvx5jpj4.database.windows.net,1433;Initial Catalog=fitotrack_db;User ID=ft_admin@m5mvx5jpj4;Password=&quot;Horse riding fitotrack!&quot;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="fitotrack.Data.FitotrackContext, Data" MigrationConfiguration="fitotrack.Data.Migrations.Configuration, Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FitotrackConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:m5mvx5jpj4.database.windows.net,1433;Initial Catalog=fitotrack_db;User ID=ft_admin@m5mvx5jpj4;Password="Horse riding fitotrack!"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>