<div class="panel panel-default profile-info-block visible" id="profile-credentials-block">
    <div class="panel-heading">Credentials</div>
    <div class="panel-body">
        <form name="credentialsForm"
              data-ng-submit="UpdateCredentials()"
              novalidate>
            <div style="display:none" data-ng-init="setForm('credentialsForm', credentialsForm);"></div>
            <div class="row form-group" data-show-errors>
                <label class="col-xs-2 row-label control-label">Email</label>
                <div class="col-xs-6">
                    <input name="_p_c_email" type="text" class="form-control"
                           data-ng-model="Model.profile.credentials.email"
                           disabled
                           required />
                </div>
            </div>

            <div class="half-hor-spacer"></div>

            <div class="row form-group" data-show-errors>
                <label class="col-xs-2 row-label control-label">Old Password</label>
                <div class="col-xs-6">
                    <input name="_p_c_oldpwd" type="password" class="form-control"
                           data-ng-model="Model.profile.credentials.oldPassword"
                           required />
                    <p class="help-block small" data-ng-if="credentialsForm._p_c_oldpwd.$error.required">
                        Old password is required.
                    </p>
                </div>
            </div>

            <div class="half-hor-spacer"></div>

            <div class="row form-group" data-show-errors>
                <label class="col-xs-2 row-label control-label">New Password</label>
                <div class="col-xs-6">
                    <input name="_p_c_newpwd" type="password" class="form-control"
                           data-ng-model="Model.profile.credentials.newPassword"
                           data-ng-minlength="6"
                           required />
                    <p class="help-block small" data-ng-if="credentialsForm._p_c_newpwd.$error.required">
                        New password is required.
                    </p>
                    <p class="help-block small" data-ng-if="credentialsForm._p_c_newpwd.$error.minlength">
                        New password must be at least 6 characters.
                    </p>
                </div>
            </div>

            <div class="half-hor-spacer"></div>

            <div class="row form-group" data-show-errors>
                <label class="col-xs-2 row-label control-label" style="padding-top: 0">Confirm New Password</label>
                <div class="col-xs-6">
                    <input name="_p_c_cnfrmpwd" type="password" class="form-control"
                           data-ng-model="Model.profile.credentials.confirmPassword"
                           data-ft-compare-to-validator="Model.profile.credentials.newPassword"
                           required />
                    <p class="help-block small" data-ng-if="credentialsForm._p_c_cnfrmpwd.$error.required">
                        Password confirmation is required.
                    </p>
                    <p class="help-block small" data-ng-if="credentialsForm._p_c_cnfrmpwd.$error.compareTo">
                        Passwords must be equal.
                    </p>
                </div>
            </div>

            <div class="half-hor-spacer"></div>

            <div class="row">
                <div class="col-xs-offset-5 col-xs-6">
                    <button type="submit" class="btn btn-lg btn-primary">Change Password</button>
                </div>
            </div>
        </form>
    </div>
</div>