
<div class="panel panel-default profile-info-block visible" id="profile-physical-info-block">
    <div class="panel-heading">Physical Info</div>
    <div class="panel-body">
        <form name="physicalInfoForm" 
              data-ng-submit="UpdatePhysicalInfo()" 
              novalidate>
            <div style="display:none" data-ng-init="setForm('physicalInfoForm', physicalInfoForm);"></div>
            <div class="row form-group" data-show-errors>
                <label class="col-xs-2 control-label mt-10">Height</label>
                <div class="col-xs-6">
                    <input name="_p_pi_height" type="text" class="form-control" style="width: 100px; float: left"
                           data-ng-model="Model.profile.physicalInfo.height"
                           ft-positive-float-validator />
                    <div class="input-text-label control-label">cm</div>
                </div>
            </div>

            <div class="half-hor-spacer"></div>

            <div class="row form-group" data-show-errors>
                <label class="col-xs-2 control-label mt-10">Weight</label>
                <div class="col-xs-6">
                    <input name="_p_pi_weight" type="text"
                           class="form-control" style="width: 100px; float: left"
                           data-ng-model="Model.profile.physicalInfo.weight"
                           ft-positive-float-validator />
                    <div class="input-text-label control-label">kg</div>
                </div>
            </div>

            <div class="half-hor-spacer"></div>

            <div class="row form-group">
                <label class="col-xs-2 control-label mt-10">Activity level</label>
                <div class="col-xs-6">
                    <div class="radio">
                        <label>
                            <input type="radio"
                                   name="activitylevelRadios"
                                   id="activitylevelSedentary"
                                   data-ng-model="Model.profile.physicalInfo.activityLevel"
                                   value="{{Model.ACTIVITY_LEVEL.Sedentary}}" />
                            Sedentary. Little or no exercise.
                            <label></label>
                        </label>
                    </div>
                    <div class="clr"></div>
                    <div class="radio">
                        <label>
                            <input type="radio"
                                   name="activitylevelRadios"
                                   id="activitylevelLightlyActive"
                                   data-ng-model="Model.profile.physicalInfo.activityLevel"
                                   value="{{Model.ACTIVITY_LEVEL.LightlyActive}}" />
                            Lightly Active. Light exercise 1-3 days per week.
                            <label></label>
                        </label>
                    </div>
                    <div class="clr"></div>
                    <div class="radio">
                        <label>
                            <input type="radio"
                                   name="activitylevelRadios"
                                   id="activitylevelModeratelyActive"
                                   data-ng-model="Model.profile.physicalInfo.activityLevel"
                                   value="{{Model.ACTIVITY_LEVEL.ModeratelyActive}}" />
                            Moderate Active. Moderate exercise 3-5 days per week.
                            <label></label>
                        </label>
                    </div>
                    <div class="clr"></div>
                    <div class="radio">
                        <label>
                            <input type="radio"
                                   name="activitylevelRadios"
                                   id="activitylevelVeryActive"
                                   data-ng-model="Model.profile.physicalInfo.activityLevel"
                                   value="{{Model.ACTIVITY_LEVEL.VeryActive}}" />
                            Very Active. Hard exercise 6-7 days per week.
                            <label></label>
                        </label>
                    </div>
                    <div class="clr"></div>
                    <div class="radio">
                        <label>
                            <input type="radio"
                                   name="activitylevelRadios"
                                   id="activitylevelExtraActive"
                                   data-ng-model="Model.profile.physicalInfo.activityLevel"
                                   value="{{Model.ACTIVITY_LEVEL.ExtraActive}}" />
                            Extra Active. Very hard exercise every day.
                            <label></label>
                        </label>
                    </div>
                </div>
            </div>

            <div class="half-hor-spacer"></div>

            <div class="row">
                <div class="form-group col-xs-offset-5 col-xs-6">
                    <button type="submit" class="btn btn-lg btn-primary">
                        Save Physical Info
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>