<!-- Modal -->
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ng-click="dismiss();">
                &times;
            </button>
            <h4 class="modal-title">New Goal</h4>
        </div>
        <div class="modal-body">
            <div data-ng-switch="getCurrentStep()" ng-animate="'wave'" class="slide-frame">
                <div ng-switch-when="g_physicalinfoex">
                    <form name="g_physicalinfoexForm" novalidate>
                        <div style="display:none" data-ng-init="setForm('g_physicalinfoexForm', g_physicalinfoexForm);"></div>
                        <div class="row form-group" data-show-errors>
                            <label class="col-xs-3 control-label">Gender</label>
                            <div class="col-xs-9">
                                <div class="col-xs-3 radio">
                                    <label>
                                        <input type="radio"
                                               class="form-control"
                                               name="_g_c_pi_gender"
                                               id="_g_c_pi_gender_m"
                                               data-ng-model="Model.physicalInfoEx.gender"
                                               value="{{Model.GENDER.Male}}"
                                               data-ng-required="!Model.physicalInfoEx.gender" />
                                        Male
                                        <label></label>
                                    </label>
                                </div>
                                <div class="clr"></div>
                                <div class="col-xs-3 radio">
                                    <label>
                                        <input type="radio"
                                               class="form-control"
                                               name="_g_c_pi_gender"
                                               id="_g_c_pi_gender_f"
                                               data-ng-model="Model.physicalInfoEx.gender"
                                               value="{{Model.GENDER.Female}}"
                                               data-ng-required="!Model.physicalInfoEx.gender" />
                                        Female
                                        <label></label>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="half-hor-spacer"></div>
                        <div class="row form-group" data-show-errors>
                            <label class="col-xs-3 control-label">Current height</label>
                            <div class="col-xs-9">
                                <input name="_g_c_pi_height" type="text" class="form-control"
                                       style="width: 100px; float: left"
                                       data-ng-model="Model.physicalInfoEx.height"
                                       required
                                       ft-positive-float-validator />
                                <div class="input-text-label control-label">cm</div>
                            </div>
                        </div>
                        <div class="half-hor-spacer"></div>
                        <div class="row form-group" data-show-errors>
                            <label class="col-xs-3 control-label">Current weight</label>
                            <div class="col-xs-9">
                                <input name="_g_c_pi_weight" type="text"
                                       class="form-control"
                                       style="width: 100px; float: left"
                                       data-ng-model="Model.physicalInfoEx.weight"
                                       required
                                       ft-positive-float-validator />
                                <div class="input-text-label control-label">kg</div>
                            </div>
                        </div>
                        <div class="half-hor-spacer"></div>
                        <div class="row form-group" data-show-errors>
                            <label class="col-xs-3 control-label">Birthday</label>
                            <div class="col-xs-9">
                                <ft-birthday data-ng-model="Model.physicalInfoEx.birthday"
                                             data-is-required="true" />
                            </div>
                        </div>
                        <div class="half-hor-spacer"></div>
                        <div class="row form-group" data-show-errors>
                            <label class="col-xs-3 control-label">Activity Level</label>
                            <div class="col-xs-9">
                                <div class="radio">
                                    <label>
                                        <input type="radio"
                                               class="form-control"
                                               name="_g_c_pi_activityLevel"
                                               id="_g_c_pi_activityLevel_sedentary"
                                               data-ng-model="Model.physicalInfoEx.activityLevel"
                                               value="{{Model.ACTIVITY_LEVEL.Sedentary}}"
                                               data-ng-required="!Model.physicalInfoEx.activityLevel" />
                                        Sedentary. Little or no exercise.
                                        <label></label>
                                    </label>
                                </div>
                                <div class="clr"></div>
                                <div class="radio">
                                    <label>
                                        <input type="radio"
                                               class="form-control"
                                               name="_g_c_pi_activityLevel"
                                               id="_g_c_pi_activityLevel_lightlyActive"
                                               data-ng-model="Model.physicalInfoEx.activityLevel"
                                               value="{{Model.ACTIVITY_LEVEL.LightlyActive}}"
                                               data-ng-required="!Model.physicalInfoEx.activityLevel" />
                                        Lightly Active. Light exercise 1-3 days per week.
                                        <label></label>
                                    </label>
                                </div>
                                <div class="clr"></div>
                                <div class="radio">
                                    <label>
                                        <input type="radio"
                                               class="form-control"
                                               name="_g_c_pi_activityLevel"
                                               id="_g_c_pi_activityLevel_moderatelyActive"
                                               data-ng-model="Model.physicalInfoEx.activityLevel"
                                               value="{{Model.ACTIVITY_LEVEL.ModeratelyActive}}"
                                               data-ng-required="!Model.physicalInfoEx.activityLevel" />
                                        Moderate Active. Moderate exercise 3-5 days per week.
                                        <label></label>
                                    </label>
                                </div>
                                <div class="clr"></div>
                                <div class="radio">
                                    <label>
                                        <input type="radio"
                                               class="form-control"
                                               name="_g_c_pi_activityLevel"
                                               id="_g_c_pi_activityLevel_veryActive"
                                               data-ng-model="Model.physicalInfoEx.activityLevel"
                                               value="{{Model.ACTIVITY_LEVEL.VeryActive}}"
                                               data-ng-required="!Model.physicalInfoEx.activityLevel" />
                                        Very Active. Hard exercise 6-7 days per week.
                                        <label></label>
                                    </label>
                                </div>
                                <div class="clr"></div>
                                <div class="radio">
                                    <label>
                                        <input type="radio"
                                               class="form-control"
                                               name="_g_c_pi_activityLevel"
                                               id="_g_c_pi_activityLevel_extraActive"
                                               data-ng-model="Model.physicalInfoEx.activityLevel"
                                               value="{{Model.ACTIVITY_LEVEL.ExtraActive}}"
                                               data-ng-required="!Model.physicalInfoEx.activityLevel" />
                                        Extra Active. Very hard exercise every day.
                                        <label></label>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div data-ng-switch-when="g_goalparams">
                    <form name="g_goalparamsForm" novalidate>
                        <div style="display:none" data-ng-init="setForm('g_goalparamsForm', g_goalparamsForm);"></div>
                        <div class="row form-group" data-show-errors>
                            <label class="col-xs-3 control-label">Target type</label>
                            <div class="col-xs-9">
                                <div class="radio">
                                    <label>
                                        <input type="radio"
                                               class="form-control"
                                               name="_g_c_gp_targetType"
                                               id="_g_c_gp_targetType_getSlim"
                                               data-ng-model="Model.goal.goalType"
                                               value="{{Model.GOAL_TYPES.LoseWeight.value}}"
                                               data-ng-change="targetGoalTypeChanged()"
                                               data-ng-required="!Model.goal.goalType" />
                                        Get Slim
                                        <label></label>
                                    </label>
                                </div>
                                <div class="clr"></div>
                                <div class="radio">
                                    <label>
                                        <input type="radio"
                                               class="form-control"
                                               name="_g_c_gp_targetType"
                                               id="_g_c_gp_targetType_maintainWeight"
                                               data-ng-model="Model.goal.goalType"
                                               value="{{Model.GOAL_TYPES.MaintainWeight.value}}"
                                               data-ng-change="targetGoalTypeChanged()"
                                               data-ng-required="!Model.goal.goalType" />
                                        Keep the weight
                                        <label></label>
                                    </label>
                                </div>
                                <div class="clr"></div>
                                <div class="radio">
                                    <label>
                                        <input type="radio"
                                               class="form-control"
                                               name="_g_c_gp_targetType"
                                               id="_g_c_gp_targetType_gainWeight"
                                               data-ng-model="Model.goal.goalType"
                                               value="{{Model.GOAL_TYPES.GainWeight.value}}"
                                               data-ng-change="targetGoalTypeChanged()"
                                               data-ng-required="!Model.goal.goalType" />
                                        Gain weight
                                        <label></label>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="half-hor-spacer"></div>
                        <div class="row form-group" data-show-errors 
                             data-ng-show="Model.goal.goalType != Model.GOAL_TYPES.MaintainWeight.value">
                            <label class="col-xs-3 control-label">Target weight</label>
                            <div class="col-xs-9">
                                <input type="text"
                                       class="form-control"
                                       name="_g_c_gp_goalWeight"
                                       style="width: 100px; float: left"
                                       data-ng-model="Model.goal.goalWeight"
                                       required
                                       ft-positive-float-validator />
                                <div class="input-text-label control-label">kg</div>
                            </div>
                        </div>
                        <div class="half-hor-spacer"></div>
                        <div class="row" data-ng-show="Model.goal.goalType != Model.GOAL_TYPES.MaintainWeight.value">
                            <label class="col-xs-3">Intensity</label>
                            <div class="col-xs-9">
                                <div class="radio">
                                    <label>
                                        <input type="radio"
                                               class="form-control"
                                               name="_g_c_gp_intensity"
                                               id="_g_c_gp_intensity_healthy"
                                               data-ng-model="Model.goal.intensity"
                                               value="{{Model.GOAL_INTENSITY.Healthy}}"
                                               data-ng-required="!Model.goal.intensity" />
                                        Healthy (0.25 kg/week)
                                        <label></label>
                                    </label>
                                </div>
                                <div class="clr"></div>
                                <div class="radio">
                                    <label>
                                        <input type="radio"
                                               class="form-control"
                                               name="_g_c_gp_intensity"
                                               id="_g_c_gp_intensity_normal"
                                               data-ng-model="Model.goal.intensity"
                                               value="{{Model.GOAL_INTENSITY.Normal}}"
                                               data-ng-required="!Model.goal.intensity" />
                                        Normal (0.5 kg/week)
                                        <label></label>
                                    </label>
                                </div>
                                <div class="clr"></div>
                                <div class="radio">
                                    <label>
                                        <input type="radio"
                                               class="form-control"
                                               name="_g_c_gp_intensity"
                                               id="_g_c_gp_intensity_aggressive"
                                               data-ng-model="Model.goal.intensity"
                                               value="{{Model.GOAL_INTENSITY.Aggressive}}"
                                               data-ng-required="!Model.goal.intensity" />
                                        Aggressive (1 kg/week)
                                        <label></label>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div data-ng-switch-when="g_results">
                    <div class="row">
                        <label class="col-xs-5">Start weight</label>
                        <div class="col-xs-7">
                            <div class="target-weight-value"><span>{{Model.goal.startWeight}}</span> kg</div>
                        </div>
                    </div>
                    <div class="half-hor-spacer"></div>
                    <div class="row">
                        <label class="col-xs-5">Goal weight</label>
                        <div class="col-xs-7">
                            <div class="target-weight-value"><span>{{Model.goal.goalWeight}}</span> kg</div>
                        </div>
                    </div>
                    <div class="half-hor-spacer"></div>
                    <div class="row">
                        <label class="col-xs-5">Recommended daily income</label>
                        <div class="col-xs-7">
                            <div class="target-weight-value"><span>{{Model.goal.rde}}</span> kcal/day</div>
                        </div>
                    </div>
                    <div class="half-hor-spacer"></div>
                    <div class="row">
                        <label class="col-xs-5">Estimated Finish Date</label>
                        <div class="col-xs-7">
                            <div class="target-weight-value" data-ng-switch="Model.goal.estimatedFinishDate">
                                <div ng-switch-when="null">
                                    <span>-</span>
                                </div>
                                <div ng-switch-default>
                                    <span>{{Model.goal.estimatedFinishDate | date : 'longDate'}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-lg btn-default" data-ng-click="handlePrevious()">
                {{getBackLabel()}}
            </button>
            <button type="button" class="btn btn-lg btn-primary" data-ng-click="handleNext()">
                {{getNextLabel()}}
            </button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->